input:checked {
    background-color: #161616 !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;

}

.btn-special {
    padding: 10px 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.btn-special:hover {
    border: 1px solid #161616;
}

.btn-special.active {
    padding: 10px 15px;
    background: #161616;
    color: white;
    border: 1px solid #161616;
    border-radius: 20px;
    cursor: pointer;
}