.fw {
    font-weight: 600;
}

.HeartAnimation {
    background-image: url('../img/web_heart_animation_outline.png');
    background-position: left;
    background-size: 2900%;
    margin: 0 auto;
    cursor: pointer;
    width: 80px;
    height: 50px;
    opacity: 0.5;
    z-index: 997;
}

.animate {
    animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
    0% {
        background-position: left;
        opacity: 0.7;
    }

    100% {
        background-position: right;
        opacity: 1;
    }
}

.swiper.img-content {
    width: 100%;
    height: 260px;
    border-radius: 20px;
}

.swiper-slide.swiperImg {
    width: 100% !important;
    height: 260px !important;
    opacity: 1 !important;
}

.swiper.img-content .swiper-button-next {
    box-shadow: none !important;
    display: none;
}

.swiper.img-content:hover .swiper-button-next {
    box-shadow: none !important;
    display: flex;
}

.swiper.img-content .swiper-pagination-bullet-active {
    background-color: white !important;
}

.cardImg {
    width: 100% !important;
    height: 260px !important;
    object-fit: cover;
    object-position: left center;
}