.cardGroup {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 130px;
    padding-left: 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.cardGroup:hover {
    border: 1px solid #161616;
}

.cardGroup i {
    font-size: 2.5rem;
    padding-top: 10px;
    margin-bottom: 15px;
}

.cardGroup p {
    max-width: 140px;
    font-weight: 600;
}

.cardGroup.active {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 130px;
    padding-left: 15px;
    background: #161616;
    color: white;
    border: 1px solid #161616;
    border-radius: 20px;
    cursor: pointer;
}