.container-airbnb {
    display: flex;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .container-airbnb {
        display: flex;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}